<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDictDataMapper">

    <resultMap type="com.ruoyi.common.core.domain.entity.SysDictData" id="SysDictDataResult">
        <id property="dictCode" column="dict_code"/>
        <result property="dictSort" column="dict_sort"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
        <result property="dictType" column="dict_type"/>
        <result property="cssClass" column="css_class"/>
        <result property="listClass" column="list_class"/>
        <result property="isDefault" column="is_default"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysDictDataVo">
        select sdd.dict_code, sdd.dict_sort, sdd.dict_label, sdd.dict_value, sdd.dict_type, sdd.css_class, sdd.list_class, sdd.is_default, sdd.`status`, sdd.create_by, sdd.create_time, sdd.update_by, sdd.update_time, sdd.remark from sys_dict_data sdd
    </sql>
    <select id="queryList" parameterType="com.ruoyi.common.core.domain.entity.SysDictData" resultMap="SysDictDataResult">
        <include refid="selectSysDictDataVo"/>
        <where>
            <if test="dictLabel != null and dictLabel != ''"> and sdd.dict_label like concat('%', #{dictLabel}, '%')</if>
            <if test="dictType != null and dictType != ''"> and sdd.dict_type = #{dictType}</if>
            <if test="status != null and status != ''"> and sdd.`status` = #{status}</if>
        </where>
        order by dict_sort
    </select>

</mapper>
