*.js    text eol=lf
*.ts    text eol=lf
*.vue   text eol=lf
*.tsx   text eol=lf
*.jsx   text eol=lf
*.html  text eol=lf
*.json  text eol=lf
*.java  text eol=lf
*.conf  text eol=lf
*.yml   text eol=lf
*.properties  text eol=lf
*.sh  text eol=lf
*.sql  text eol=lf
*.xml  text eol=lf
