#if($table.isCrud())
import { BaseEntity } from '@/api/model/resultModel';
#set($Entity="BaseEntity")
#set($BoEntity=$Entity)
#elseif($table.isTree())
import {#if($isUseQuery) BaseEntity,#end TreeEntity } from '@/api/model/ResultModel';
#set($Entity="TreeEntity<${ClassName}>")
#set($BoEntity="TreeEntity<${ClassName}Bo>")
#end

#if($isUseQuery)
/**
 * ${functionName}查询对象
 */
export interface ${ClassName}Query extends BaseEntity {
#foreach ($column in $columns)
#if($column.isQuery() && $column.queryType != "BETWEEN")
  /** $column.columnComment */
  $column.javaField?: ${GenUtil.javaTypeToTypescript($column.javaType)};
#end
#end
}
#end
#if($isUseBO)
/**
 * ${functionName}业务对象
 */
export interface ${ClassName}Form extends ${BoEntity} {
#foreach ($column in $columns)
#if(($column.isPk() || $column.isInsert() || $column.isEdit()))
  /** $column.columnComment */
  $column.javaField?: ${GenUtil.javaTypeToTypescript($column.javaType)};
#end
#end
#if($table.isTree() && !$isUseVO)
  /** 子${functionName} */
  children?: ${ClassName}Vo[];
#end
}
#end
#if(!$isUseBO || !$isUseQuery || !$isUseVO)
/**
 * ${functionName}对象 ${tableName}
 */
export interface ${ClassName} extends ${Entity} {
#foreach ($column in $columns)
  /** $column.columnComment */
  $column.javaField?: ${GenUtil.javaTypeToTypescript($column.javaType)};
#end
}
#end
#if($isUseVO)
/**
 * ${functionName}视图对象
 */
export interface ${ClassName}Vo {
#foreach ($column in $columns)
#if($column.isList() || $column.isPk() || $column.isEdit() || $column.isInsert() || $column.isDetail())
  /** $column.columnComment */
  $column.javaField?: ${GenUtil.javaTypeToTypescript($column.javaType)};
#end
#end
#if($table.isTree())
  /** 子${functionName} */
  children?: ${ClassName}Vo[];
#end
}
#end
