<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysMessageKeyMapper">

    <resultMap id="SysMessageKeyResult" autoMapping="true" type="org.dromara.system.domain.SysMessageKey">
    </resultMap>
    <resultMap id="SysMessageKeyResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysMessageKeyVo">
    </resultMap>

    <sql id="selectSysMessageKeyVo">
        select smk.message_key_id, smk.name, smk.message_key, smk.remark, smk.create_dept, smk.update_by, smk.create_by, smk.update_time, smk.create_time from sys_message_key smk
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysMessageKeyQuery" resultMap="SysMessageKeyResultVo">
        <include refid="selectSysMessageKeyVo"/>
        <where>
            <if test="name != null and name != ''"> and smk.name like concat(concat('%', #{name}), '%')</if>
            <if test="messageKey != null and messageKey != ''"> and smk.message_key like concat(concat('%', #{messageKey}), '%')</if>
        </where>
        order by smk.create_time desc
    </select>

</mapper>
