<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysAppMapper">

    <resultMap id="SysAppResult" autoMapping="true" type="org.dromara.system.domain.SysApp">
    </resultMap>
    <resultMap id="SysAppResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysAppVo">
    </resultMap>

    <sql id="selectSysAppVo">
        select sa.appid, sa.tenant_id, sa.app_type, sa.app_key, sa.app_name, sa.create_dept, sa.create_by, sa.create_time, sa.update_by, sa.update_time, sa.remark from sys_app sa
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysAppQuery" resultMap="SysAppResultVo">
        <include refid="selectSysAppVo"/>
        <where>
            <if test="appType != null and appType != ''"> and sa.app_type = #{appType}</if>
            <if test="appKey != null and appKey != ''"> and sa.app_key like concat(concat('%', #{appKey}), '%')</if>
            <if test="appName != null and appName != ''"> and sa.app_name like concat(concat('%', #{appName}), '%')</if>
        </where>
        order by sa.create_time desc
    </select>

</mapper>
