<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysDeptMapper">

    <resultMap id="SysDeptResult" autoMapping="true" type="org.dromara.system.domain.SysDept">
    </resultMap>
    <resultMap id="SysDeptResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysDeptVo">
    </resultMap>

    <sql id="selectSysDeptVo">
        select sd.dept_id, sd.parent_id, sd.ancestors, sd.dept_name, sd.order_num, sd.leader, sd.phone, sd.email, sd.status, sd.del_flag, sd.create_by, sd.create_time, sd.update_by, sd.update_time from sys_dept sd
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysDeptQuery" resultMap="SysDeptResultVo">
        <include refid="selectSysDeptVo"/>
        <where>
            and del_flag = '0'
            <if test="deptId != null "> and sd.dept_id = #{deptId}</if>
            <if test="parentId != null "> and sd.parent_id = #{parentId}</if>
            <if test="deptName != null and deptName != ''"> and sd.dept_name like concat(concat('%', #{deptName}), '%')</if>
            <if test="status != null and status != ''"> and sd.status = #{status}</if>
        </where>
        order by parent_id,order_num
    </select>


    <select id="selectDeptList" resultMap="SysDeptResultVo">
        select * from sys_dept ${ew.getCustomSqlSegment}
    </select>

    <select id="selectDeptById" resultMap="SysDeptResultVo">
        select * from sys_dept where del_flag = '0' and dept_id = #{deptId}
    </select>

    <select id="selectDeptListByRoleId" resultType="Long">
        select d.dept_id
        from sys_dept d
            left join sys_role_dept rd on d.dept_id = rd.dept_id
        where rd.role_id = #{roleId}
            <if test="deptCheckStrictly">
                and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id = rd.dept_id and rd.role_id = #{roleId})
            </if>
        order by d.parent_id, d.order_num
    </select>
    <select id="queryVoById" resultMap="SysDeptResultVo">
        select sd.dept_id,
               sd.parent_id,
               sd.ancestors,
               sd.dept_name,
               sd.order_num,
               sd.leader,
               sd.phone,
               sd.email,
               sd.status,
               sd.del_flag,
               sd.create_by,
               sd.create_time,
               sd.update_by,
               sd.update_time,
               (select s.dept_name from sys_dept s where s.dept_id = sd.parent_id and sd.parent_id != 0) as parent_name,
               (select su.user_name from sys_user su where su.user_id = sd.leader and sd.leader is not null ) as leader_name
        from sys_dept sd
        where sd.dept_id = #{deptId}
    </select>

</mapper>
