<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysDictDataMapper">

    <resultMap id="SysDictDataResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysDictDataVo">
    </resultMap>
    <resultMap id="SysDictDataResult" autoMapping="true" type="org.dromara.system.domain.SysDictData">
    </resultMap>

    <sql id="selectSysDictDataVo">
        select sdd.dict_code, sdd.dict_sort, sdd.dict_label, sdd.dict_value, sdd.dict_type, sdd.css_class, sdd.list_class, sdd.tag_style, sdd.is_default, sdd.create_by, sdd.create_time, sdd.update_by, sdd.update_time, sdd.remark from sys_dict_data sdd
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysDictDataQuery" resultMap="SysDictDataResultVo">
        <include refid="selectSysDictDataVo"/>
        <where>
            <if test="dictLabel != null and dictLabel != ''"> and sdd.dict_label like concat(concat('%', #{dictLabel}), '%')</if>
            <if test="dictType != null and dictType != ''"> and sdd.dict_type = #{dictType}</if>
        </where>
        order by dict_sort
    </select>

</mapper>
