<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysMenuMapper">

    <resultMap id="SysMenuResult" autoMapping="true" type="org.dromara.system.domain.SysMenu">
    </resultMap>
    <resultMap id="SysMenuResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysMenuVo">
    </resultMap>

    <sql id="selectSysMenuVo">
        select sm.menu_id, sm.menu_name, sm.parent_id, sm.order_num, sm.path, sm.component, sm.component_name, sm.query_param, sm.is_frame, sm.is_cache, sm.menu_type, sm.visible, sm.status, sm.perms, sm.icon, sm.hidden_expression, sm.shop_expression, sm.create_dept, sm.create_by, sm.create_time, sm.update_by, sm.update_time, sm.remark from sys_menu sm
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysMenuQuery" resultMap="SysMenuResultVo">
        <include refid="selectSysMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''"> and sm.menu_name like concat(concat('%', #{menuName}), '%')</if>
            <if test="componentName != null and componentName != ''"> and sm.component_name like concat(concat('%', #{componentName}), '%')</if>
            <if test="visible != null and visible != ''"> and sm.visible = #{visible}</if>
            <if test="status != null and status != ''"> and sm.status = #{status}</if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuListByUserId" parameterType="org.dromara.system.domain.query.SysMenuQuery" resultMap="SysMenuResultVo">
        select distinct sm.menu_id, sm.parent_id, sm.menu_name, sm.path, sm.component, sm.query_param, sm.visible, sm.status,
        sm.perms, sm.is_frame, sm.is_cache, sm.menu_type, sm.icon, sm.hidden_expression, sm.shop_expression, sm.order_num, sm.create_time
        from sys_menu sm
        left join sys_role_menu rm on sm.menu_id = rm.menu_id
        left join sys_user_role sur on rm.role_id = sur.role_id
        left join sys_role ro on sur.role_id = ro.role_id
        <where>
            and sur.user_id = #{userId}
            and ro.status = '1'
            and ro.del_flag = '0'
            <if test="menuName != null and menuName != ''"> and sm.menu_name like concat(concat('%', #{menuName}), '%')</if>
            <if test="componentName != null and componentName != ''"> and sm.component_name like concat(concat('%', #{componentName}), '%')</if>
            <if test="visible != null and visible != ''"> and sm.visible = #{visible}</if>
            <if test="status != null and status != ''"> and sm.status = #{status}</if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuTreeByUserId" parameterType="Long" resultMap="SysMenuResultVo">
        select distinct sm.menu_id,
                        sm.parent_id,
                        sm.menu_name,
                        sm.path,
                        sm.component,
                        sm.query_param,
                        sm.visible,
                        sm.status,
                        sm.perms,
                        sm.is_frame,
                        sm.is_cache,
                        sm.menu_type,
                        sm.icon,
                        sm.hidden_expression,
                        sm.shop_expression,
                        sm.order_num,
                        sm.create_time
        from sys_menu sm
                 left join sys_role_menu rm on sm.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role ro on sur.role_id = ro.role_id
        where sur.user_id = #{userId}
          and sm.menu_type in ('M', 'C')
          and sm.status = '1'
          and ro.status = '1'
          and ro.del_flag = '0'
        order by sm.parent_id, sm.order_num
    </select>

    <select id="selectMenuListByRoleId" resultType="Long">
        select m.menu_id
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        <if test="menuCheckStrictly">
            and m.menu_id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.menu_id =
            rm.menu_id and rm.role_id = #{roleId})
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPerms" resultType="String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
    </select>

    <select id="selectMenuPermsByUserId" parameterType="Long" resultType="String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role r on r.role_id = sur.role_id
        where m.status = '1'
          and r.status = '1'
          and sur.user_id = #{userId}
    </select>

    <select id="selectMenuPermsByRoleId" parameterType="Long" resultType="String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
        where m.status = '1' and rm.role_id = #{roleId}
    </select>

</mapper>
