<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysOssMapper">

    <resultMap id="SysOssResult" autoMapping="true" type="org.dromara.system.domain.SysOss">
    </resultMap>
    <resultMap id="SysOssResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysOssVo">
    </resultMap>

    <sql id="selectSysOssVo">
        select so.oss_id, so.tenant_id, so.file_name, so.original_name, so.file_suffix, so.url, so.size, so.content_type, so.oss_category_id, so.user_type, so.is_lock, so.create_dept, so.create_time, so.create_by, so.update_time, so.update_by, so.service from sys_oss so
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysOssQuery" resultMap="SysOssResultVo">
        select so.oss_id,
               so.tenant_id,
               so.file_name,
               so.original_name,
               so.file_suffix,
               so.url,
               so.size,
               so.content_type,
               so.oss_category_id,
               so.user_type,
               so.is_lock,
               so.create_dept,
               so.create_time,
               so.create_by,
               so.update_time,
               so.update_by,
               so.service,
               su.user_name as create_by_name
        from sys_oss so
                 left join sys_user su on so.create_by = su.user_id
        <where>
            <if test="fileName != null and fileName != ''"> and so.file_name like concat(concat('%', #{fileName}), '%')</if>
            <if test="originalName != null and originalName != ''"> and so.original_name like concat(concat('%', #{originalName}), '%')</if>
            <if test="fileSuffix != null and fileSuffix != ''"> and so.file_suffix like concat(concat('%', #{fileSuffix}), '%')</if>
            <if test="url != null and url != ''"> and so.url = #{url}</if>
            <if test="maxSize != null"> and so.size &lt;= #{maxSize}</if>
            <foreach collection="contentTypes" item="item" open="and (" separator=" or " close=")" nullable="true">
                so.content_type like #{item}
            </foreach>
            <if test="ossCategoryId != null"> and so.oss_category_id = #{ossCategoryId}</if>
            <if test="userType != null and userType != ''"> and so.user_type = #{userType}</if>
            <if test="isLock != null"> and so.is_lock = #{isLock}</if>
            <if test="params.beginCreateTime != null and params.endCreateTime != null">
              and so.create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="createBy != null"> and so.create_by = #{createBy}</if>
            <if test="createByName != null"> and su.user_name like concat(concat('%', #{createByName}), '%')</if>
            <if test="service != null and service != ''"> and so.service like concat(concat('%', #{service}), '%')</if>
            <foreach collection="suffixes" item="item" open="and so.file_suffix in(" separator="," close=")" nullable="true">
                #{item}
            </foreach>
        </where>
        order by create_time desc
    </select>
    <select id="queryById" resultMap="SysOssResultVo">
        select so.oss_id,
               so.tenant_id,
               so.file_name,
               so.original_name,
               so.file_suffix,
               so.url,
               so.size,
               so.content_type,
               so.oss_category_id,
               so.user_type,
               so.is_lock,
               so.create_dept,
               so.create_time,
               so.create_by,
               so.update_time,
               so.update_by,
               so.service,
               (select su.user_name from sys_user su where so.create_by = su.user_id) as create_by_name,
               (select soc.category_path from sys_oss_category soc where soc.oss_category_id = so.oss_category_id) as category_path
        from sys_oss so
        where oss_id = #{ossId}
    </select>


</mapper>
