<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOssMapper">

    <resultMap id="SysOssResult" autoMapping="true" type="com.ruoyi.system.domain.SysOss">
        <result property="ossId" column="oss_id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileSuffix" column="file_suffix"/>
        <result property="url" column="url"/>
        <result property="size" column="size"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="service" column="service"/>
    </resultMap>
    <resultMap id="SysOssResultVo" autoMapping="true" type="com.ruoyi.system.domain.vo.SysOssVo">
        <id property="ossId" column="oss_id"/>
        <result property="fileName" column="file_name"/>
        <result property="originalName" column="original_name"/>
        <result property="fileSuffix" column="file_suffix"/>
        <result property="url" column="url"/>
        <result property="size" column="size"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="service" column="service"/>
    </resultMap>

    <sql id="selectSysOssVo">
        select so.oss_id, so.file_name, so.original_name, so.file_suffix, so.url, so.size, so.create_time, so.create_by, so.update_time, so.update_by, so.service from sys_oss so
    </sql>
    <select id="queryList" parameterType="com.ruoyi.system.domain.bo.SysOssBo" resultMap="SysOssResultVo">
        <include refid="selectSysOssVo"/>
        <where>
            <if test="fileName != null and fileName != ''"> and so.file_name like concat('%', #{fileName}, '%')</if>
            <if test="originalName != null and originalName != ''"> and so.original_name like concat('%', #{originalName}, '%')</if>
            <if test="fileSuffix != null and fileSuffix != ''"> and so.file_suffix = #{fileSuffix}</if>
            <if test="url != null and url != ''"> and so.url = #{url}</if>
            <if test="params.beginCreateTime != null and params.endCreateTime != null">and so.create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="createBy != null and createBy != ''"> and so.create_by = #{createBy}</if>
            <if test="service != null and service != ''"> and so.service = #{service}</if>
        </where>
        order by create_time desc
    </select>


</mapper>
