<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysPostMapper">

    <resultMap id="SysPostResult" autoMapping="true" type="org.dromara.system.domain.SysPost">
    </resultMap>
    <resultMap id="SysPostResultVo" autoMapping="true" type="org.dromara.system.domain.vo.SysPostVo">
    </resultMap>

    <select id="selectPostListByUserId" parameterType="Long" resultType="Long">
        select p.post_id
        from sys_post p
                 left join sys_user_post up on up.post_id = p.post_id
                 left join sys_user u on u.user_id = up.user_id
        where u.user_id = #{userId}
    </select>

    <select id="selectPostsByUserName" parameterType="String" resultMap="SysPostResultVo">
        select p.post_id, p.post_name, p.post_code
        from sys_post p
                 left join sys_user_post up on up.post_id = p.post_id
                 left join sys_user u on u.user_id = up.user_id
        where u.user_name = #{userName}
    </select>

    <sql id="selectSysPostVo">
        select sp.post_id, sp.post_code, sp.post_name, sp.post_sort, sp.status, sp.create_by, sp.create_time, sp.update_by, sp.update_time, sp.remark from sys_post sp
    </sql>
    <select id="queryList" parameterType="org.dromara.system.domain.query.SysPostQuery" resultMap="SysPostResultVo">
        <include refid="selectSysPostVo"/>
        <where>
            <if test="postCode != null and postCode != ''"> and sp.post_code like concat(concat('%', #{postCode}), '%')</if>
            <if test="postName != null and postName != ''"> and sp.post_name like concat(concat('%', #{postName}), '%')</if>
            <if test="status != null and status != ''"> and sp.status = #{status}</if>
        </where>
        order by create_time desc
    </select>

</mapper>
