<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.workflow.mapper.WfCategoryMapper">

    <resultMap id="WfCategoryResult" autoMapping="true" type="org.dromara.workflow.domain.WfCategory">
        <id property="id" column="id"/>
    </resultMap>
    <resultMap id="WfCategoryResultVo" autoMapping="true" type="org.dromara.workflow.domain.vo.WfCategoryVo">
        <id property="id" column="id"/>
    </resultMap>

    <sql id="selectWfCategoryVo">
        select wc.id, wc.category_name, wc.category_code, wc.parent_id, wc.sort_num, wc.tenant_id, wc.create_dept, wc.create_by, wc.create_time, wc.update_by, wc.update_time from wf_category wc
    </sql>
    <select id="queryList" parameterType="org.dromara.workflow.domain.query.WfCategoryQuery" resultMap="WfCategoryResultVo">
        <include refid="selectWfCategoryVo"/>
        <where>
            <if test="categoryName != null and categoryName != ''"> and wc.category_name like concat(concat('%', #{categoryName}), '%')</if>
            <if test="categoryCode != null and categoryCode != ''"> and wc.category_code = #{categoryCode}</if>
        </where>
        order by wc.sort_num
    </select>

</mapper>
