<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.workflow.mapper.WfFormManageMapper">

    <resultMap id="WfFormManageResult" autoMapping="true" type="org.dromara.workflow.domain.WfFormManage">
        <id property="id" column="id"/>
    </resultMap>
    <resultMap id="WfFormManageResultVo" autoMapping="true" type="org.dromara.workflow.domain.vo.WfFormManageVo">
        <id property="id" column="id"/>
    </resultMap>

    <sql id="selectWfFormManageVo">
        select wfm.id, wfm.form_name, wfm.form_type, wfm.router, wfm.remark, wfm.tenant_id, wfm.create_dept, wfm.create_by, wfm.create_time, wfm.update_by, wfm.update_time from wf_form_manage wfm
    </sql>
    <select id="queryList" parameterType="org.dromara.workflow.domain.query.WfFormManageQuery" resultMap="WfFormManageResultVo">
        <include refid="selectWfFormManageVo"/>
        <where>
            <if test="formName != null and formName != ''"> and wfm.form_name like concat(concat('%', #{formName}), '%')</if>
            <if test="formType != null and formType != ''"> and wfm.form_type = #{formType}</if>
        </where>
    </select>

</mapper>
