package ${packageName}.service;

import ${packageName}.domain.${ClassName};
import ${packageName}.domain.bo.${ClassName}Bo;
import ${packageName}.domain.dto.${ClassName}Query;
import ${packageName}.domain.vo.${ClassName}Vo;
import com.baomidou.mybatisplus.extension.service.IService;
#if($table.crud || $table.sub)
import com.ruoyi.common.core.page.TableDataInfo;
#end

import java.util.Collection;
import java.util.List;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {

    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} 主键
     * @return ${ClassName}Vo
     */
    ${ClassName}Vo queryById(${pkColumn.javaType} ${pkColumn.javaField});

#if($table.crud || $table.sub)
    /**
     * 查询${functionName}列表
     *
     * @param query 查询对象
     * @return ${ClassName}Vo
     */
    TableDataInfo<${ClassName}Vo> queryPageList(${ClassName}Query query);
#end

    /**
     * 查询${functionName}列表
     *
     * @param query 查询对象
     * @return ${ClassName}Vo
     */
    List<${ClassName}Vo> queryList(${ClassName}Query query);

    /**
     * 新增${functionName}
     *
     * @param bo ${functionName}新增业务对象
     * @return Boolean
     */
    Boolean insertByBo(${ClassName}Bo bo);

    /**
     * 修改${functionName}
     *
     * @param bo ${functionName}编辑业务对象
     * @return Boolean
     */
    Boolean updateByBo(${ClassName}Bo bo);

    /**
     * 校验并批量删除${functionName}信息
     *
     * @param ids 主键集合
     * @return Boolean
     */
    Boolean deleteWithValidByIds(Collection<${pkColumn.javaType}> ids);
}
