#if($table.crud || $table.sub)
import { BaseEntity } from '@/api/model/resultModel';
#set($Entity="BaseEntity")
#elseif($table.tree)
import { TreeEntity } from '@/api/model/ResultModel';
#set($Entity="TreeEntity<${ClassName}Bo>")
#end

/**
 * ${functionName}业务对象
 */
export interface ${ClassName}Bo extends ${Entity} {
#foreach ($column in $columns)
#if(($column.isPk == '1' || $column.query || $column.isInsert || $column.isEdit))
  /** $column.columnComment */
  $column.javaField: ${GenUtil.javaTypeToTypescript($column.javaType)};
#end
#end
}

/**
 * ${functionName}视图对象
 */
export interface ${ClassName}Vo {
#foreach ($column in $columns)
#if($column.isList || $column.isPk == '1' || $column.isEdit)
  /** $column.columnComment */
  $column.javaField: ${GenUtil.javaTypeToTypescript($column.javaType)};
#end
#end
}
