<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">
    #set($className = $packageName + ".domain.bo." + ${ClassName} + "Bo")
    #set($result = ${ClassName} + "Result")

    <resultMap id="${ClassName}ResultVo" type="${packageName}.domain.vo.${ClassName}Vo">
#foreach ($column in $columns)
#if($column.isList)
#if($column.isPk==1)
        <id property="${column.javaField}" column="${column.columnName}"/>
#else
        <result property="${column.javaField}" column="${column.columnName}"/>
#end
#end
#end
    </resultMap>
    <resultMap id="$result" type="${packageName}.domain.${ClassName}">
#foreach ($column in $columns)
#if($column.isPk==1)
        <id property="${column.javaField}" column="${column.columnName}"/>
#else
        <result property="${column.javaField}" column="${column.columnName}"/>
#end
#end
    </resultMap>

    <sql id="select${ClassName}Vo">
        select#foreach($column in $columns) ${dbName}.#if($GenUtil.isMysqlKeyword($column.columnName))`$column.columnName`#else$column.columnName#end#if($foreach.hasNext),#end#end from $tableName $dbName
    </sql>
    <select id="queryList" parameterType="$className" resultMap="${ClassName}ResultVo">
        <include refid="select${ClassName}Vo"/>
        <where>
#set($string = 'String')
#foreach($column in $columns)
#set($queryType=$column.queryType)
#set($javaField=$column.javaField)
#set($javaType=$column.javaType)
#if($GenUtil.isMysqlKeyword($column.columnName))
#set($columnName='`'+$column.columnName+'`')
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#else
#set($columnName=$column.columnName)
#end
#if($column.isQuery == "1")
#if($column.queryType == "EQ")
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName = #{$javaField}</if>
#elseif($queryType == "NE")
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName != #{$javaField}</if>
#elseif($queryType == "GT")
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName &gt; #{$javaField}</if>
#elseif($queryType == "GE")
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName &gt;= #{$javaField}</if>
#elseif($queryType == "LT")
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName &lt; #{$javaField}</if>
#elseif($queryType == "LE")
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName &lt;= #{$javaField}</if>
#elseif($queryType.equalsIgnoreCase("LIKE"))
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName like concat('%', #{$javaField}, '%')</if>
#elseif($queryType.equalsIgnoreCase("NOT_LIKE"))
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName not like concat('%', #{$javaField}, '%')</if>
#elseif($queryType.equalsIgnoreCase("IS_NULL"))
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName is null</if>
#elseif($queryType.equalsIgnoreCase("IS_NOT_NULL"))
            <if test="$javaField != null #if($javaType == $string)and $javaField.trim() != ''#end"> and $dbName.$columnName is not null</if>
#elseif($queryType.equalsIgnoreCase("IN"))
            <if test="$javaField != null and !${javaField}.isEmpty()">
                and $dbName.$columnName in
                <foreach collection="$javaField" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
#elseif($queryType.equalsIgnoreCase("BETWEEN"))
    #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
            <if test="params.begin$AttrName != null and params.end$AttrName != null">and $dbName.$columnName between #{params.begin${AttrName}} and #{params.end${AttrName}}</if>
#end
#end
#end
        </where>
    </select>

</mapper>
