package ${packageName}.domain.bo;

import ${packageName}.domain.${ClassName};
import com.ruoyi.common.mybatis.core.domain.BaseEntity;
import com.ruoyi.common.core.validate.AddGroup;
import com.ruoyi.common.core.validate.EditGroup;
import io.github.linpeilie.annotations.AutoMapper;
import lombok.Data;
import lombok.EqualsAndHashCode;
import jakarta.validation.constraints.*;
#foreach ($import in $importList)
import ${import};
#end

import java.util.Date;

/**
 * ${functionName}业务对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@AutoMapper(target = ${ClassName}.class, reverseConvertGenerate = false)
public class ${ClassName}Bo extends BaseEntity {

#foreach ($column in $columns)
#if(($column.isPk == '1' || $column.isInsert == '1' || $column.isEdit == '1'))
    /**
     * $column.columnComment
     */
#if($column.isRequired == 1)
#set($Group0 = [])
#if($column.isInsert && $Group0.add('AddGroup.class'))#end
#if(($column.isEdit == '1' || $column.isPk == '1') && $Group0.add('EditGroup.class'))#end
#set($Group = $StringUtils.join($Group0, ", "))
#if($column.javaType == 'String')
    @NotBlank(message = "$column.columnComment不能为空"#if($Group), groups = {${Group}}#end)
#else
    @NotNull(message = "$column.columnComment不能为空"#if($Group), groups = {${Group}}#end)
#end
#end
    private $column.javaType $column.javaField;

#end
#end
}
