package ${packageName}.domain.template;

#if($isUseBO)
#set($bo="${ClassName}Bo")
import ${packageName}.domain.bo.${ClassName}Bo;
#else
#set($bo=$ClassName)
import ${packageName}.domain.${ClassName};
#end
import com.alibaba.excel.annotation.ExcelIgnoreUnannotated;
import com.alibaba.excel.annotation.ExcelProperty;
import io.github.linpeilie.annotations.AutoMapper;
import lombok.Data;
import org.dromara.common.excel.annotation.ExcelDictFormat;
import org.dromara.common.excel.convert.ExcelDictConvert;
#foreach ($import in $importList)
import ${import};
#end

import java.io.Serial;
import java.io.Serializable;

/**
 * ${functionName}导入对象
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ExcelIgnoreUnannotated
@AutoMapper(target = ${bo}.class, reverseConvertGenerate = false)
public class ${ClassName}ImportTemplate implements Serializable {

    @Serial
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(($column.isPk() || $column.isInsert() || $column.isEdit()))
    /**
     * $column.columnComment
     */
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if(${column.dictType} && ${column.dictType} != '')
    @ExcelProperty(value = "${comment}", converter = ExcelDictConvert.class)
    @ExcelDictFormat(dictType = "${column.dictType}")
#else
    @ExcelProperty(value = "${comment}")
#end
    private $column.javaType $column.javaField;
#end
#end
}
