package ${packageName}.mapper;

import ${packageName}.domain.${ClassName};
#if($useQuery)
#set($query="${ClassName}Query")
import ${packageName}.domain.query.${ClassName}Query;
#else
#set($query=$ClassName)
#end
#if($useVO)
#set($vo="${ClassName}Vo")
#set($extend="BaseMapperPlus<${ClassName}Mapper, ${ClassName}, ${ClassName}Vo>")
import ${packageName}.domain.vo.${ClassName}Vo;
import com.ruoyi.common.mybatis.core.mapper.BaseMapperPlus;
#else
#set($vo=$ClassName)
#set($extend="BaseMapper<${ClassName}>")
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
#end

import java.util.List;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends $extend {

    /**
     * 查询${table.functionName}列表
     *
     * @param query 查询对象
     * @return {@link ${vo}}
     */
    List<${vo}> queryList(${query} query);
}
