package ${packageName}.mapper;

import ${packageName}.domain.${ClassName};
#if($isUseBO && ($isUseAddMethod || $isUseEditMethod || !$isUseQuery))
#set($bo="${ClassName}Bo")
import ${packageName}.domain.bo.${ClassName}Bo;
#else
#set($bo=$ClassName)
#end
#if($isUseQuery && ($isUseQueryMethod || $isUseExportMethod))
#set($query="${ClassName}Query")
import ${packageName}.domain.query.${ClassName}Query;
#else
#set($query=$bo)
#end
#if($isUseVO)
#set($vo="${ClassName}Vo")
#set($extend="BaseMapperPlus<${ClassName}, ${ClassName}Vo>")
import ${packageName}.domain.vo.${ClassName}Vo;
import org.dromara.common.mybatis.core.mapper.BaseMapperPlus;
#else
#set($vo=$ClassName)
#set($extend="BaseMapper<${ClassName}>")
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
#end

#if($isUseExportMethod || $isUseQueryMethod)
import java.util.List;
#end

/**
 * ${functionName}Mapper接口
 *
 * @author $author
 * @date $datetime
 */
public interface ${ClassName}Mapper extends $extend {
#if($isUseQueryMethod || $isUseExportMethod)

    /**
     * 查询${table.functionName}列表
     *
     * @param query 查询对象
     * @return {@link ${vo}}
     */
    List<${vo}> queryList(${query} query);
#end
}
