package ${packageName}.domain.query;

import lombok.Data;
import lombok.EqualsAndHashCode;

import java.util.Date;

#foreach ($import in $importList)
import ${import};
#end
import org.dromara.common.mybatis.core.domain.BasePageQuery;

/**
 * ${functionName}查询对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}Query extends BasePageQuery {

#foreach ($column in $columns)
#if($column.isQuery() && $column.queryType != "BETWEEN")
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;

#end
#end
}
